[submodule "qubes-ansible"]
	path = qubes-ansible
	url = https://github.com/QubesOS/qubes-ansible
[submodule "qubes-core-admin"]
	path = qubes-core-admin
	url = https://github.com/QubesOS/qubes-core-admin
[submodule "qubes-core-admin-client"]
	path = qubes-tools/qubes-core-admin-client
	url = https://github.com/QubesOS/qubes-core-admin-client
[submodule "qubes-mgmt-salt"]
	path = qubes-mgmt-salt
	url = https://github.com/QubesOS/qubes-mgmt-salt
[submodule "qubes-mgmt-salt-dom0-qvm"]
	path = qubes-mgmt-salt-dom0-qvm
	url = https://github.com/QubesOS/qubes-mgmt-salt-dom0-qvm
[submodule "qubes-terraform"]
	path = qubes-terraform
	url = ../qubes-terraform
[submodule "qubes-tools/qubes-manager"]
	path = qubes-tools/qubes-manager
	url = https://github.com/QubesOS/qubes-manager
